*
{
    margin: 0%;
    font-family: sans-serif;
}
body
{
    background-image: linear-gradient(120deg, rgb(45, 119, 45), rgb(49, 110, 110));
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 12px solid white;
    border-radius: 50%;
    border-top: 12px solid gray;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 13%;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  div h3
  {
    font-size: large;
  }
