* {
	background-color: grey;
}
img
{
	margin-left: 100px;
	padding-right: 30px;
	margin-top: 45px;
	float: left;
	position: relative;
}
div.head
{

	border-style: double;
	border-radius: 25px;
}
h1
{
	text-align: center;
	padding-top: 10px;
	font-size: 50px;
	margin: 20px;
	font-family: sans-serif;
}
p.quate
{
	font-family: sans-serif;
	font-style: italic;
}
p.info
{
	padding: 40px;
	margin-top: 15px;
    margin-right: 70px;
    margin-left: 70px;
    font-size: 20px;
    font-family: sans-serif;
    border-style: double;
	border-radius: 25px;
}
h4
{
	text-align: center;
}
div.pub
{
	margin-right: 220px;
	margin-left: 240px;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 21px;
	border-style: double;
	border-radius: 25px;
}
p
{
	text-align: center;
	margin: 15px;
}
