* {
	margin: 0%;
	font-family: sans-serif;
}
body
{
	background-image: linear-gradient(grey,tomato);
	width: 100%;
}
img
{
	width: 65%;
	height: 500px;
    margin-left: 18%;
	margin-bottom: 10px;
	border: 3px solid white;
	border-radius: 25px;
	box-shadow: 10px 10px 10px black;
}

h1
{
	text-align: center;
	padding-top: 10px;
	font-size: 50px;
	margin: 20px;
}
p.quate
{	font-style: italic;
}
p.info
{
    text-align: center;
    font-size: 3vh;
	margin-bottom: 3em;
}
h4
{
	text-align: center;
}
div.pub
{
	margin-left: 20%;
	margin-right: 20%;
	font-size: 1.1em;	
	border-style: double;
	border-radius: 25px;
	padding: 20px;
}
p
{
	text-align: center;
	margin: 15px;
}
.tab2
{
	color: black;
}
