* {
	margin: 0%;
	font-family: sans-serif;
}
body
{
	background-image: linear-gradient(grey,tomato);
}
img
{
	width: 70%;
	height: 500px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 15%;
	position: relative;
	border: 3px solid black;
}

h1
{
	text-align: center;
	padding-top: 10px;
	font-size: 50px;
	margin: 20px;
}
p.quate
{	font-style: italic;
}
p.info
{
	padding: 40px;
	margin-top: 15px;
    margin-right: 70px;
    margin-left: 70px;
    font-size: 20px;
}
h4
{
	text-align: center;
}
div.pub
{
	margin-right: 220px;
	margin-left: 240px;
	margin-bottom: 20px;
	font-size: 21px;
	border-style: double;
	border-radius: 25px;
	padding: 20px;
}
p
{
	text-align: center;
	margin: 15px;
}
.tab2
{
	color: black;
}
